

<div class="row">
	<div class="span6">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-horizontal"}) do |f| %>

		<fieldset>
			<legend>Sign in</legend>


		<%= f.input :email %>
		<%= f.input :password %>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me, :as => :boolean %> </div>
	  <% end -%>

	  <div class="form-actions"><%= f.button :submit, "Sign in" %></div>
	<%= render "devise/shared/links" %>
	  </fieldset>
	<% end %>


	</div>
</div>